<section id="active-images" class="container">




</section>




<div class="card text-center">
  <form onsubmit="app.SandboxToDoController.createToDo()">
    <form class="mb-3 d-flex justify-content-around">
      <label for="name">Create New ToDo</label>
      <input type="text" name="description" id="description" required minlength="3" maxlength="150">
      <button type="submit">Create</button>
      <div id="count">TEST</div>

    </form>
  </form>
</div>

<section class="container card">
  <div class="row d-flex justify-content-around">
    <div class="col-3" id="active-weather">Weather</div>
    <div class="col-3" id="clock">Time</div>
    <div class="col-4" id="todos"></div>

  </div>

</section>




<section id="active-quotes" class="container text-light text-center">


</section>